
@{
    ViewBag.Title = "Administrator Home";
}
<h2>Option Management</h2>

<h3>Manage stuffed animal options using the links below</h3>
<div>
    @Html.ActionLink("Color List", "Index", "Colors")<br />
    @Html.ActionLink("Sizes", "Index", "Sizes")<br />
    @Html.ActionLink("Animals", "Index", "Animals")<br />
    @Html.ActionLink("Materials", "Index", "Materials")<br />
    @Html.ActionLink("Stuffing Types", "Index", "Stuffings")<br />
    @Html.ActionLink("Outfits", "Index", "Outfits")<br />
</div>


