@model IEnumerable<AnimaLuvApp.Models.CustomOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outfit.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stuffing.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outfit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stuffing.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomOrderID })
        </td>
    </tr>
}

</table>
